# Git
.git

# Detectron
publaynet_config.yaml
publaynet_model.pth

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
/data/db/
/data/redis/
/data/qdrant/
/data/keys/
/data/mysql/
.env

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.next/

# Editor/OS specific
.vscode/
.idea/
.DS_Store

# Instance ID
.instance_id 

.auth_password.key
.key
# Docker local override
docker-compose.override.yaml

# Debug/artifacts
debug_output/

# Model weights (prevent large binaries)
*.pth

# Logs
*.log

# Generated OCR output
ocr_output.txt

# Data folder
data/

# Notebook outputs
paperprocessor/debugging_output/
paperprocessor/notebooks/outputs/

# Airflow
/airflow/logs
airflow.cfg
airflow-webserver.pid
webserver_config.py
unittests.cfg
paperprocessor/debugging_output/header_formatter_final_markdown.md
paperprocessor/debugging_output/structure_extractor_headers.json
paperprocessor/debugging_output/structure_extractor_structure.json
