# General api dependencies
fastapi==0.104.1
uvicorn==0.34.2
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
SQLAlchemy==2.0.23
starlette==0.27.0
dotenv==0.9.9
python-dotenv==1.0.0
pytest==8.3.5
aiohttp==3.11.18
pytest-asyncio==0.26.0
alembic==1.15.2
greenlet==3.2.2
asyncpg==0.30.0
httpx==0.28.1
requests==2.31.0

# Added for detectron_test.py
layoutparser==0.3.4
pillow==9.1
numpy==1.26.4
opencv-python==4.10.0.84
torch==1.11.0
torchvision==0.12.0
PyMuPDF==1.24.1
scipy==1.13.1

# AI 
openai==1.79.0

# New database and vector store clients
PyMySQL==1.1.0
aiomysql==0.2.0
qdrant-client==1.7.3

# Not sure what these are for
aiobotocore==2.22.0
botocore==1.37.3
aiofiles==24.1.0

# Commented out the ones below as they are sub dependencies of other packages
#annotated-types==0.7.0
#anyio==4.9.0
#click==8.2.0
#h11==0.14.0
#idna==3.6
#python-multipart==0.0.6
#sniffio==1.3.0
#validators==0.35.0
#python-magic==0.4.27

# Required for Pydantic's EmailStr validation
email-validator