# Dependencies for Airflow DAGs
requests
mysqlclient
sqlalchemy
pydantic
pydantic-settings==2.10.1
python-dotenv==1.0.0
# Fixes dependency conflict with Airflow's built-in Google provider
# See: https://stackoverflow.com/questions/74484963/attributeerror-module-google-upb-message-has-no-attribute-messagemapcontain
protobuf==3.20.3
pymysql
pendulum

# paperprocessor dependencies
pillow
numpy
PyMuPDF
scipy
rapidfuzz
openai
mistralai
aiofiles

# shared module dependencies  
qdrant-client
httpx
aiohttp
email-validator
